{{- /*gotype: github.com/amirrezafahimi/bookings/pkg/models.TemplateData*/ -}}
{{template "base" .}}

{{define "content"}}
    <div class="container">

        <div class="row">
            <div class="col">
                <h1>Make reservation</h1>

                {{$res := index .Data "reservation"}}
                <form action="" method="post" class="" novalidate>
                    <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

                    <div class="form-group mt-5">
                        <label for="first-name">First name:</label>
                        {{with .Form.Errors.Get "first-name"}}
                            <label for="first-name" class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "first-name"}} is-invalid {{end}}"
                               type="text" name="first-name" id="first-name" required
                               autocomplete="off" value="{{$res.FirstName}}">
                    </div>

                    <div class="form-group mt-5">
                        <label for="last-name">Last name:</label>
                        {{with .Form.Errors.Get "last-name"}}
                            <label for="last-name" class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "last-name"}} is-invalid {{end}}"
                               type="text" name="last-name" id="last-name" required
                               autocomplete="off" value="{{$res.LastName}}">
                    </div>

                    <div class="form-group mt-5">
                        <label for="email">Email:</label>
                        {{with .Form.Errors.Get "email"}}
                            <label for="email" class="text-danger">{{.}}</label>
                        {{end}}
                        <input class="form-control {{with .Form.Errors.Get "email"}} is-invalid {{end}}" type="email"
                               name="email" id="email" required autocomplete="off"
                               value="{{$res.Email}}">
                    </div>

                    <div class="form-group mt-5">
                        <label for="phone">Phone number:</label>
                        {{with .Form.Errors.Get "phone"}}
                            <label for="phone" class="text-danger">{{.}}</label>
                        {{end}}
                        <input autocomplete="off"
                               class="form-control {{with .Form.Errors.Get "phone"}} is-invalid {{end}}" id="phone"
                               name="phone" required
                               value="{{$res.Phone}}">
                    </div>

                    <hr/>

                    <input type="submit" class="btn btn-primary" value="Make Reservation">
                </form>
            </div>
        </div>

    </div>
{{end}}